# vim: set filetype=yaml :
CompileFlags:
  Compiler: "xcrun /opt/opencilk/bin/clang"
  Add:
    - "-I/opt/opencilk/lib/clang/14.0.6/myinclude"
    - "-Dcilk_for=for"
    - "-DMACOS"
    - "-I/opt/homebrew/Cellar/open-mpi/4.1.4_2/include"
